useDynLib(acdx)

import(graphics)
importFrom("grDevices","recordGraphics")
importFrom("methods","is")
importFrom("stats", "quantile", "sd","na.omit")
importFrom("abind","abind")
import(Matrix)

export(greg)
S3method(print,ac)
S3method(plot,ac)
export(print.ac,plot.ac)

export(acgplot)
export(acdx)
export(questf,questmm)
export(bremt)
export(top)
S3method(plot,top)
export(plot.top)
exportPattern("Romp_")
