useDynLib(acdx)

import(graphics)
importFrom("grDevices","recordGraphics")
importFrom("methods","is")
importFrom("stats", "quantile", "sd","na.omit")
importFrom("abind","abind")
import(Matrix)

export(greg)
export(acgplot)
export(acdx)
export(questf,questmm)
export(bremt)
export(top)
exportPattern("Romp_")
