useDynLib(acdx)

import(Matrix)
importFrom("graphics", "abline", "axis", "lines", "mtext")
importFrom("stats", "quantile", "sd")

export(aggr)
export(acplot)
export(acdx)
export(quest)

exportPattern("Romp_")
